<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrainingEnrollment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowDetails</display-name>
    <servlet-name>ShowDetails</servlet-name>
    <servlet-class>com.capgemini.assignment.TrainingEnrollment.ui.ShowDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetails</servlet-name>
    <url-pattern>/ShowDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnect</display-name>
    <servlet-name>DbConnect</servlet-name>
    <servlet-class>com.capgemini.trainingenrollment.dao.DbConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnect</servlet-name>
    <url-pattern>/DbConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDisplay</display-name>
    <servlet-name>UserDisplay</servlet-name>
    <servlet-class>com.capgemini.assignment.TrainingEnrollment.ui.UserDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDisplay</servlet-name>
    <url-pattern>/UserDisplay</url-pattern>
  </servlet-mapping>
</web-app>